<!DOCTYPE html>
<html lang="en>
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <style>
    body {
      font-family: Helvetica;
    }

    div.menu ul {
      list-style: none;
    }
    div.menu ul li {
      font-size: 2em;
      display: inline-block;
      background-color: gray;
      border-radius: 3px;
      margin-left: 20px;
    }
    div.menu ul li:first-child {
      margin-left: 0;
    }
  </style>
</head>

<body>

  <header>
    <div class="menu">
      <ul>
	{% for link, name in menu %}
	<li><a href={{link}}>{{name}}</a></li>
	{% endfor %}
      </ul>
    </div>
  </header>

  <div id="main">
    {% block main %}{% endblock %}
  </div>

  <div id="footer">
    <p>Logged in from {{request.remote_addr}}</p>
    <p><a href="{{url_for('errors', name='Errors')}}">{{app.errors_client.num_errors()}} Errors</a></p>
    {% block footer %}{% endblock %}
  </div>

</body>

</html>
