<!DOCTYPE html>
<html lang="en>
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <link href="/static/small.css" rel="stylesheet"/>
</head>

<body>

  <div class="oh-screen">

    {% if menu %}
    <header>

      <nav>
	{% for entry in menu.entries %}
	<div class="oh-menu-entry">
	  <a href="{{entry.url}}">
    	    <img src="{{entry.image_url}}" alt="{{entry.alt}}"/>
          </a>
	</div>
	{% endfor %}
      </nav>

      <div class="oh-info-box">
	<div>
	  <a href="{{url_for('errors', name='Errors')}}">{{app.errors_client.num_errors()}} Errors</a>
	</div>
      </div>

    </header>
    {% endif %}

    <section id="oh-main">
      {% block main %}{% endblock %}
    </section>

  </div>

</body>

</html>
