{% macro use_plotly() -%}
<script src="/static/plotly-1.49.4.js"></script>
{%- endmacro %}

{% macro temperature_histogram_single(samples, element_name) -%}

<script src="/static/plotly-1.49.4.js"></script>

<script>

  var hist = {
      x: [
	  {% for timestamp, _ in samples %}
	  "{{timestamp}}",
	  {% endfor %}
      ],
      y: [
	  {% for _, temperature in samples %}
	  "{{temperature}}",
	  {% endfor %}
      ],
      type: "scatter",
  }
  layout = {
      yaxis: {range: [0, 100]}
  }

  Plotly.newPlot("{{element_name}}", [hist], layout)

</script>

{%- endmacro %}


{% macro temperature_table(samples) -%}

<table>

  <tr>
    <th>Timestamp</th>
    <th>Temperature</th>

  {% for timestamp, temperature in samples %}
  <tr>
    <td>{{timestamp}}</td>
    <td>{{temperature}}</td>
  </tr>
  {% endfor %}

</table>

{%- endmacro %}
