{% extends "home.html" %}

{% block user_home %}

<div class="faschingbauer_home_charts">

  <div id="faschingbauer_home_charts__chart0" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart1" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart2" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart3" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart4" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart5" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart6" width="200" height="100"></div>
  <div id="faschingbauer_home_charts__chart7" width="200" height="100"></div>

</div>

{% endblock %}

