{% extends "base.html" %}

{% block main %}

<h2>Switches</h2>

<table>

<form method="post">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>State</th>
  <tr>

  {% for name, switch in app.switches.items() %}
  <tr>
    <td>{{name}}</td>
    <td>{{switch.get_description()}}</td>
    <td>
	<input type="checkbox" name="{{name}}.state"
	       {% if switch.get_state() %}
	         value="True"
	         checked
	       {% else %}
	         value="False"
	         unchecked
	       {% endif %}
	       />
    </td>
  </tr>
  {% endfor %}
  
</table>

<input type="submit" value="Execute"/>
</form>

{% endblock %}
