{% extends "base.html" %}

{% block main %}

{% from 'history_macros.html' import use_plotly %}
{{use_plotly()}}

<h2>Thermometers</h2>

<div id="__thermometers_chart"></div>

<table>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Temperature</th>
  <tr>

  {% for name, thermometer in app.thermometers.items() %}
  <tr>
    <td><a href="{{url_for('thermometer', name=name)}}">{{name}}</a></td>
    <td>{{thermometer.get_description()}}</td>
    <td>{{thermometer.get_temperature()}}</td>
  </tr>
  {% endfor %}
  
</table>

<script>

  var layout = {
      yaxis: {range: [0, 150]}
  }
  var data = []
  
  {% for name, samples in samples_per_thermometer.items() %}
  data.push({
      name: "{{name}}",
      x: [
	  {% for timestamp, _ in samples %}
	  "{{timestamp}}",
	  {% endfor %}
      ],
      y: [
	  {% for _, temperature in samples %}
	  "{{temperature}}",
	  {% endfor %}
      ],
      type: "scatter",
  })
  {% endfor %}

  Plotly.newPlot("__thermometers_chart", data, layout)

</script>

{% endblock %}
