{% extends "base.html" %}

{% block main %}

<h2>Thermometers</h2>

<table>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Temperature</th>
  <tr>

  {% for name, thermometer in app.thermometers.items() %}
  <tr>
    <td><a href="{{url_for('thermometer', name=name)}}">{{name}}</a></td>
    <td>{{thermometer.get_description()}}</td>
    <td>{{thermometer.get_temperature()}}</td>

  </tr>
  {% endfor %}
  
</table>

<p>Past 24 hours</p>

<img src="{{svg.url_for_chart(
	  names=app.thermometer_names(),
	  xsize=30, ysize=15,
	  duration=datetime.timedelta(days=1).total_seconds(),
	  granularity=datetime.timedelta(minutes=30).total_seconds(),
	  )}}"/>

{% endblock %}
