{% extends "base.html" %}

{% block main %}

{% from 'history_macros.html' import temperature_histogram_single, temperature_table %}

<h2>Thermometer {{name}}</h2>

<p>Current temperature: {{app.thermometers[name].get_temperature()}} </p>

<h3>Day</h3>
<img src="{{svg.url_for_chart(
	  names=[name], 
	  xsize=30, ysize=5, 
	  duration=datetime.timedelta(days=1).total_seconds(),
	  granularity=datetime.timedelta(seconds=30).total_seconds(),
	  )}}"/>

<h3>Hour</h3>
<img src="{{svg.url_for_chart(
	  names=[name], 
	  xsize=30, ysize=5, 
	  duration=datetime.timedelta(hours=1).total_seconds(),
	  granularity=datetime.timedelta(minutes=1).total_seconds(),
	  )}}"/>

<h3>Short Term (10 minutes)</h3>
<img src="{{svg.url_for_chart(
	  names=[name], 
	  xsize=30, ysize=5,
	  duration=datetime.timedelta(minutes=10).total_seconds(),
	  granularity=datetime.timedelta(seconds=10).total_seconds(),
	  )}}"/>

{% endblock %}
