body {
    font-family: Helvetica;
}

* {
    margin: 0;
    padding: 0;
}

.oh-screen {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

header img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}
