body {
    font-family: Helvetica;
}

* {
    margin: 0;
    padding: 0;
}

.oh-screen {
    display: grid;
    grid-template-columns: 5% 95%;
}

.oh-screen header {
    display: grid;
    grid-template-columns: 1fr;
}

.oh-screen header nav {
    display: block;
}

.oh-screen header nav img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.oh-screen header .oh-info-box {
    display: block;
}
