body {
    font-family: Helvetica;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 10%;
    position: fixed;
    height: 100%;
}
/* MENU */
header nav ul {
    list-style-type: none;
}
header nav ul li:hover {
    transform: translate(10%,0);
}
header div#info {
    float: below;
}

/* MAIN AREA */
section#main {
    float: right;
    width: 90%;
}
